


<div class="container">

    <form action="/Catogery/SaveData" method="post">
  <div class="mb-3">
    <label for="Name" class="form-label">CatogeryName</label>
    <input type="text" class="form-control" id="Name" name="Name">
  </div>
     <div class="mb-3">
            <label for="Description" class="form-label">CatogeryDescription</label>
            <input type="text" class="form-control" id="Description" name="Description">
    </div>

    <button type="submit" class="btn btn-primary">submit</button>



  </form>




</div>






