





<div class="container">

    <form action="/Products/SaveProduct" method="post">
        <div class="mb-3">
            <label for="Name" class="form-label">ProductName</label>
            <input type="text" class="form-control" id="Name" name="Name">
        </div>
        <div class="mb-3">
            <label for="Img" class="form-label">ProductImg</label>
            <input type="text" class="form-control" id="Img" name="Img">
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">ProductDescription</label>
            <input type="text" class="form-control" id="Description" name="Description">
        </div>
      
        <div class="mb-3">
            <label for="Price" class="form-label">ProductPrice</label>
            <input type="number" class="form-control" id="Price" name="Price">
        </div>

        <div class="mb-3">
            <label for="catogeryId" class="form-label">ProductId</label>
            <input type="number" class="form-control" id="catogeryId" name="catogeryId">
        </div>

        <button type="submit" class="btn btn-primary">submit</button>



    </form>




</div>







